.grid-container {
  display: grid;
  grid-auto-rows: minmax(0, 1fr);
  grid-auto-columns: minmax(0, .25fr);
  grid-auto-flow: row;
  gap: .5em;
  background-color: #5e3737;
  padding: .5em;
}


.grid-container>* {
  background-color: rgb(26, 26, 26);
  text-align: center;
  padding: .1em 0;
  font-size: 25px;

}

.item_large {
  grid-row: 1/3;
  grid-column: 1/16;
  height: 100%;
  width: 100%;
}

.item1 {
  grid-row: 1/2;
  grid-column: 16/32;
  height: 100%;
  width: 100%
}

.item2 {
  grid-row: 1/2;
  grid-column: 32/48;
  height: 100%;
  width: 100%
}

.item3 {
  grid-row: 2/3;
  grid-column: 16/32;
  height: 100%;
  width: 100%
}

.item4 {
  grid-row: 2/3;
  grid-column: 32/48;
  height: 100%;
  width: 100%
}


.item_math_estimation1 {
  grid-row: 3/4;
  grid-column: 24/30;
  height: 100%;
  width: 100%;
}

.item_math_estimation2 {
  grid-row: 3/4;
  grid-column: 30/36;
  height: 100%;
  width: 100%;
}

.item_math_estimation3 {
  grid-row: 3/4;
  grid-column: 36/42;
  height: 100%;
  width: 100%;
}

.item_math_estimation4 {
  grid-row: 3/4;
  grid-column: 42/48;
  height: 100%;
  width: 100%;
}

.item_math_tool1 {
  grid-row: 3/4;
  grid-column: 1/12;
  height: 100%;
  width: 100%;
}

.item_math_tool2 {
  grid-row: 3/4;
  grid-column: 12/24;
  height: 100%;
  width: 100%;
}

.p1 {
  font-family: "Arial, Helvetica, sans-serif";
  float: center;
  font-size: 1.25vw;
  color: rgb(110, 110, 110);
  inline-size: 20vw;
  word-break: break-word;
}

.p2 {
  font-family: "Arial, Helvetica, sans-serif";
  float: center;
  font-size: 1.5vw;
  color: rgb(110, 110, 110);
  inline-size: 7.5vw;
}

.p3 {
  font-family: "Arial, Helvetica, sans-serif";
  float: left;
  font-size: 1.1vw;
  color: rgb(110, 110, 110);
  inline-size: 7.5vw;
}

.box {
  outline: none;
  height: 3vw;
  font-size: 1.5vw;
  color: rgb(110, 110, 110);
  background-color: rgb(26, 26, 26);
  inline-size: 10vw;
  font-family: "Arial, Helvetica, sans-serif";
  border: 1px solid rgb(26, 26, 26);
  margin: 0px;
  float: center;
}
