body {
  background-color: rgb(255, 255, 255);
  text-align: center
}

*{box-sizing:border-box;}

.p1 {
  font-family: "Arial, Helvetica, sans-serif";
  font-size: 1.5vw;
  color: rgb(255, 0, 0)
}

.p2 {
  font-family: "Arial, Helvetica, sans-serif";
  font-size: 2vw;
  color: rgb(0, 0, 0);
}

.row:after {
  content:"";
  display: table;
  clear: both;
  display: flex;
  font-size: large;
  color: blue;
}

.col {
  float: left;
  width: 33.33%;
  font-size: medium;
  color: rgb(85, 20, 204);
  height: 25%;
}
@media screen and (max-width: 1500px) {
  .col {
    width: 100%;
  }
}
